# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
coverage/
.tmp/
.temp/
.cache/
.next/
.svelte-kit/
.sapper/
.storybook/
.cypress/
.vscode-test/

# Environment files
.env
.env.*.local

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Misc
*.local
*.log
*.tgz
*.swp
*.bak
*.orig
*.rej

private.pem
logs
